html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: auto; }

main {
  display: flex;
  flex-direction: column; }

p {
  margin-bottom: 0; }

.home-btn {
  text-decoration: none;
  color: #303036;
  border: 2px solid #303036;
  padding: 5px;
  margin: 30px 0;
  z-index: 20;
  transition: 1s; }
  .home-btn:hover {
    transform: scale(1.3); }

.show {
  opacity: 1;
  height: auto;
  transform: translateY(-150px);
  transition: opacity 1s ease-in; }

.hide {
  margin: 0;
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-out; }

@keyframes bounce {
  0% {
    transform: scale(0); }
  30% {
    transform: scale(1.3); }
  60% {
    transform: scale(0.8); } }
@keyframes move {
  0% {
    transform: translateY(3px); }
  50% {
    transform: translateY(-75px); }
  100% {
    transform: translateY(-150px); } }
header {
  height: 100%;
  font-family: "Josefin Slab", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #303036;
  background-color: #C6C5B9;
  margin: 0; }

.name {
  font-size: 3em;
  margin: 0; }
  @media (min-width: 760px) {
    .name {
      font-size: 5em; } }

.title {
  font-size: 1.5em;
  margin: 0; }
  @media (min-width: 760px) {
    .title {
      font-size: 2.5em; } }

.description {
  margin: 0; }

#menu {
  padding: 10px;
  color: #303036;
  font-family: "Josefin Slab", serif;
  border: 1.5px solid black;
  cursor: pointer;
  margin: 0;
  transition: 1s; }
  @media (min-width: 760px) {
    #menu {
      font-size: 2.5em; } }
  #menu:hover {
    transform: scale(1.3); }

#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 0; }
  @media (min-width: 760px) {
    #nav {
      flex-direction: row;
      font-size: 2.5em; } }
  #nav li {
    list-style: none;
    color: #303036;
    margin: 0 15px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer; }
    @media (min-width: 760px) {
      #nav li {
        margin: 0 30px;
        padding: 50px 0; } }
    #nav li:hover {
      border-bottom: 1px solid #303036; }

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  height: auto; }

.languages {
  background-color: #bd90c9;
  color: #303036;
  border-radius: 5px;
  padding: 10px;
  margin: 15px; }
  .languages:hover {
    animation: bounce 1s ease-out backwards; }

#about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #C6C5B9;
  color: #303036;
  font-family: "Josefin Sans", sans-serif;
  margin: -5px;
  padding: 10px 0;
  overflow: scroll; }
  #about p {
    font-size: 1.2em;
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
    line-height: 1.5em;
    font-family: "Josefin Sans", sans-serif;
    font-weight: lighter; }
    #about p:first-child {
      padding-top: 90px; }
  @media (min-width: 1024px) {
    #about {
      position: relative; } }

.title-pic-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%; }

.about-div {
  float: right;
  width: 50%;
  padding-right: 25px;
  align-items: center; }
  .about-div a {
    margin-top: 20px; }

.main-title {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  margin: 20px 0;
  align-self: left;
  padding: 10px;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

#profile-pic {
  align-self: center;
  border-radius: 50%;
  width: 250px;
  transition: .8s;
  margin-bottom: 300px; }
  #profile-pic:hover {
    transform: scale(1.2); }

#about-btn {
  width: fit-content;
  margin: 30px auto; }

#projects {
  background: #C6C5B9;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 45px; }
  @media (min-width: 1024px) {
    #projects {
      position: relative; } }

.project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Slab", serif;
  color: #303036;
  text-align: center;
  height: 300px; }
  .project-title p {
    margin: 5px 10px 40px;
    padding: 0 30px;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: "Josefin Sans", sans-serif;
    font-weight: lighter; }

#portfolio {
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }
  @media (min-width: 1024px) {
    #portfolio {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch; } }

.sites {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bd90c9;
  color: #303036;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 15px;
  border-radius: 5px; }
  @media (min-width: 1024px) {
    .sites {
      width: 30%;
      flex-grow: 1; } }

.visit {
  border-radius: 7px;
  border: 3px solid #303036;
  text-align: center;
  text-decoration: none;
  color: #303036;
  margin: 15px 0;
  padding: 8px;
  transition: all 1s; }
  .visit:hover {
    color: #C6C5B9;
    font-weight: bold;
    border: 5px solid #C6C5B9;
    transform: scale(1.3); }

.git-link {
  transition: all 1s; }
  .git-link:hover {
    fill: #C6C5B9;
    transform: scale(1.2); }

.site-description {
  padding: 0 10px; }

.emp-dir {
  background: linear-gradient(to top, rgba(189, 144, 201, 0.8), rgba(189, 144, 201, 0.8)), url("../img/emp-dir.png") no-repeat center center; }

.dash {
  background: linear-gradient(to top, rgba(189, 144, 201, 0.8), rgba(189, 144, 201, 0.8)), url("../img/dash.jpg") no-repeat center center; }

.video {
  background: linear-gradient(to top, rgba(189, 144, 201, 0.8), rgba(189, 144, 201, 0.8)), url("../img/video.jpg") no-repeat center center; }

.photo-gallery {
  background: linear-gradient(to top, rgba(189, 144, 201, 0.8), rgba(189, 144, 201, 0.8)), url("../img/gallery.jpg") no-repeat center center; }

.tic-tac-toe {
  background: linear-gradient(to top, rgba(189, 144, 201, 0.8), rgba(189, 144, 201, 0.8)), url("../img/tic-tac-toe.png") no-repeat center center; }

.math-flash {
  background: linear-gradient(to top, rgba(189, 144, 201, 0.8), rgba(189, 144, 201, 0.8)), url("../img/math_flash.png") no-repeat center center; }

#contact {
  background: linear-gradient(to top, #FFFAFF, #8F9491);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  height: 100%; }
  @media (min-width: 760px) {
    #contact {
      height: 500px; } }
  #contact h1 {
    margin-top: 15px; }

#icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 10px 0;
  transition: all 1s; }
  .contact-link:hover {
    fill: #bd90c9;
    transform: scale(1.2); }

.contact-icon {
  width: 35px;
  height: 35px;
  margin: 10px; }

.contact-span {
  color: #303036;
  margin-left: 20px;
  font-size: 1.5em; }

/*# sourceMappingURL=application.css.map */
